/* global */

* {
  font-family: Helvetica, sans-serif;
}

/* header */

h1 {
  background-image: url(../images/pattern.webp);
  font-size: 100px;
  color: khaki;
  text-align: center;
}

.bold {
  font-weight: bold;
}

h2 {
  font-size: 32px;
  color: white;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

span {
  color: blue;
  
}
